{{ define "main" }}

{{ $permalink := .RelPermalink }}
{{ $date := .Date.Format "January 2, 2006" }}
{{ $lastmod := .Lastmod.Format "January 2, 2006" }}

<style>
:root {
  --radius: 12px;
  --primary-color: #009FFF;
  --secondary-color: #777;
}

.card {
  margin-top:40px;
  padding: 20px 40px;
  width: 100%;
  background-color: #eee;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.border-gradient {
  position: relative;
  border-radius: var(--radius);
}

.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--radius);
  border-radius: var(--radius) var(--radius) 0 0;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.blog-content img{
  border-radius: 10px;
}

</style>
<div class="flex h-screen relative">

  <section
    class="will-change-transform transform transition-transform -translate-x-[200%] absolute top-0 left-0 lg:relative
  lg:translate-x-0 lg:min-w-[400px] lg:w-1/4 h-full bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 lg:flex flex-col py-3 overflow-y-auto scroll-area">
    {{$Section := .Site.GetPage "section" .Section }}
    {{ with $Section }}
    <a href="{{ .Permalink }}">
      <h2 class="font-bold mb-5 py-1 pl-12 pr-3 md:px-3">{{ .Title }}</h2>
    </a>
    {{- partial "search.html" . -}}
    <div class="space-y-2.5">
      {{ range .Data.Pages -}}
      {{ $isCurrentPage := eq .RelPermalink $permalink }}
      <a class="article block px-3 py-4 {{ if $isCurrentPage }} bg-slate-900 dark:bg-slate-700 text-slate-50 {{ else }} hover:bg-slate-200 dark:hover:bg-slate-700 {{ end }}"
        href="{{ .RelPermalink }}">
        {{ $title := .Params.title }}
        {{ with .Params.images }}
        {{- range first 1 . }}
        <img class="rounded max-w-full mb-4" src="{{ . }}" alt="{{ $title }}" />
        {{ end -}}
        {{ end }}
        <h3 class="text-lg font-semibold mb-0.5">{{ $title }}</h3>
        <div
          class="text-sm {{ if $isCurrentPage }} text-slate-400 {{ else }} text-slate-500 dark:text-slate-400 {{ end }} line-clamp-2">
          {{ .Summary }}
        </div>
      </a>
      {{ end -}}
    </div>
    {{ end -}}
  </section>

  <div class="overflow-y-auto h-screen w-full">
    <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg h-fit dark:prose-invert prose-img:mx-auto">

      {{ $title := .Params.title }}
      <h1 class="!mb-2">{{ $title }}</h1>

	  {{ if .Date }}
      <p class="text-sm text-slate-500 !mb-8"> Published at {{ $date }}
		{{ if ne $lastmod $date}}
			<br/> Pruned {{ .Lastmod.Format "January 2, 2006" }}
        {{ end }}
        <br>
      Author: {{ .Params.author }}
	  </p>
      {{ end }}

      {{ with .Params.images }}
      {{- range first 1 . }}
      <img class="rounded max-w-full mx-auto mb-4" src="{{ . }}" alt="{{ $title }}" />
      {{ end -}}
      {{ end }}

      <div class="blog-content">
      {{ .Content }}
      </div >
      <h3>Source</h3>
      <a href="{{ .Params.cardurl }}" style="text-decoration: none;" targe="_blank">
      <div class="card border-gradient" style="border-radius: 10px;">
        <h3>
          <svg style="display: inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
          &nbsp;
          {{ .Params.englishtitle  }}</h3>
        <p>{{ .Params.carddescription }}</p>
      </div>
      </a>

      <h3>Comments</h3>
      <script src="https://utteranc.es/client.js"
        repo="yuhattor/hattori.dev"
        issue-term="Blog: {{ .Params.englishtitle }}"
        label="blog-comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>

    </article>
  </div>

</div>

{{ end }}