@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 dark:bg-slate-900 dark:text-slate-50 dark:selection:bg-slate-600;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.200");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-200;
}
*::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 6px;
}

html.dark *::-webkit-scrollbar-track {
  @apply bg-slate-600;
}
html.dark *::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
}

html.dark * {
  scrollbar-color: theme("colors.slate.400") theme("colors.slate.600");
}

.blog-content img{
  border-radius: 10px;
}
.blog-content video{
  border-radius: 10px;
}
.blog-content h1 *, .blog-content h2 *, .blog-content h3 *{
  display: inline;
}
.blog-content li img {
  display: inline;
  margin-left: -30px;
}
.blog-content .highlight{
  width:84vw;
  max-width:100%
}

.blog-content p img {
  display: inline;
  margin: 0px;
}


.card {
  margin-top:40px;
  padding: 20px 40px;
  width: 100%;
  background-color: #eee;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.border-gradient {
  position: relative;
  border-radius: var(--radius);
}

.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: var(--radius);
  border-radius: var(--radius) var(--radius) 0 0;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.text-gradient-purple-coral, h1, h2, h3, h4{
  background: -webkit-linear-gradient(-70deg, #8250df 0%, #d42a32 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-box-decoration-break: clone;
}
.purple-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}